### Библиотеки основные

In [1]:
!pip install catboost -q
!pip install category_encoders -q

In [2]:
import numpy as np
import pandas as pd
import pickle

from catboost import CatBoostClassifier

import load_model
import matplotlib.pyplot as plt
import seaborn as sns

from sqlalchemy import Column, Integer, String, Boolean, create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

from sklearn.compose import ColumnTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn import decomposition
from sklearn.metrics import roc_auc_score

from sklearn.cluster import KMeans
from category_encoders import TargetEncoder

import matplotlib.pyplot as plt
# ! pip3 install psycopg2-binary

from IPython.display import HTML
import psycopg2

from database import engine

### Load sql and merge table

In [3]:

SQLALCHEMY_DATABASE_URL = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"
# данные для подключения
engine = create_engine(SQLALCHEMY_DATABASE_URL)
# инициализируем движок
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)
# подготавливаемся к cессиям
Base = declarative_base()
# Импортируем данные в DataFrame
df_user = pd.read_sql_query("SELECT * FROM public.user_data;", engine)
df_post = pd.read_sql_query("SELECT * FROM public.post_text_df;", engine)
df_feed = pd.read_sql_query("SELECT * FROM public.feed_data ORDER BY timestamp DESC limit 9000000;", engine)

<ipython-input-3-ca0dc63623aa>:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
df = pd.merge(df_feed, df_user, on='user_id', how='left')
df = pd.merge(df, df_post, on='post_id', how='left')

In [5]:
# df = pd.read_csv('df_all')

In [6]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000000 entries, 0 to 8999999
Data columns (total 14 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   user_id    int64
 2   post_id    int64
 3   action     object
 4   target     int64
 5   gender     int64
 6   age        int64
 7   country    object
 8   city       object
 9   exp_group  int64
 10  os         object
 11  source     object
 12  text       object
 13  topic      object
dtypes: datetime64[ns](1), int64(6), object(7)
memory usage: 15.9 GB

In [7]:
print(df.shape)
print(len(df.user_id.unique()))

(9000000, 14)
131549

In [8]:
df.isna().sum().sum()

0

In [9]:
df

,timestamp,user_id,post_id,action,target,gender,age,country,city,exp_group,os,source,text,topic
0,2021-12-29 23:51:06,134078,3927,view,0,1,38,Russia,Kemerovo,4,iOS,organic,Handwashing continues to play a huge role in s...,covid
1,2021-12-29 23:51:06,78189,5546,view,0,0,15,Russia,Kamensk-Ural’skiy,2,Android,ads,"This is primarily about love in WWII, yet we m...",movie
2,2021-12-29 23:51:06,168096,1295,view,0,0,49,Russia,Tomsk,2,iOS,organic,Mandelson warns BBC on Campbell\n\nThe BBC sho...,politics
3,2021-12-29 23:51:06,6545,2735,view,0,1,16,Kazakhstan,Temirtaū,4,iOS,ads,August 16 : Positive cases reported worldwide ...,covid
4,2021-12-29 23:51:06,50842,5720,view,0,1,17,Russia,Leninsk-Kuznetskiy,4,iOS,ads,Nice combination of the giant monster and samu...,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8999995,2021-12-19 17:48:10,25505,3043,view,0,0,19,Russia,Irkutsk,0,iOS,ads,Wow! Stock soared on heavy trading volumes! Sp...,covid
8999996,2021-12-19 17:48:10,5088,1069,view,0,0,43,Russia,Surgut,0,Android,ads,Lawyer attacks anti-terror laws\n\nA senior ba...,politics
8999997,2021-12-19 17:48:10,125823,1969,view,0,1,28,Russia,Voronezh,0,iOS,organic,Web logs aid disaster recovery\n\nSome of the ...,tech
8999998,2021-12-19 17:48:10,49378,3734,view,0,1,15,Russia,Tyumen,4,Android,ads,Check out SASs comprehensive dashboard to see ...,covid
8999999,2021-12-19 17:48:10,159833,3032,view,0,1,16,Russia,Aleksandrovskoye,0,iOS,organic,"#sapsLIM PC, Lt Gen Ledwaba led a multi-discip...",covid

In [10]:
data = df.copy()
data = data[data['action']=='view']
print(data.shape)
print(len(data.user_id.unique()))
data.target.value_counts()

(7908961, 14)
131549

target
0    6818140
1    1090821
Name: count, dtype: int64

In [11]:
data.user_id = data.user_id.astype('int32')
data.post_id = data.post_id.astype('int16')
data.target = data.target.astype('int8')
data.gender = data.gender.astype('int8')
data.age = data.age.astype('int8')
data.exp_group = data.exp_group.astype('int8')

<ipython-input-11-4b7a3407340a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.user_id = data.user_id.astype('int32')
<ipython-input-11-4b7a3407340a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.post_id = data.post_id.astype('int16')
<ipython-input-11-4b7a3407340a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.target = data.target.astype('int8')
<ipython-input-11-4b7a3407340a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.gender = data.gender.astype('int8')
<ipython-input-11-4b7a3407340a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.age = data.age.astype('int8')
<ipython-input-11-4b7a3407340a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.exp_group = data.exp_group.astype('int8')

In [12]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 7908961 entries, 0 to 8999999
Data columns (total 14 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   user_id    int32
 2   post_id    int16
 3   action     object
 4   target     int8
 5   gender     int8
 6   age        int8
 7   country    object
 8   city       object
 9   exp_group  int8
 10  os         object
 11  source     object
 12  text       object
 13  topic      object
dtypes: datetime64[ns](1), int16(1), int32(1), int8(4), object(7)
memory usage: 13.7 GB

### Preprocessing

#### text

In [13]:
import re
import string

from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
wnl = WordNetLemmatizer()

def preprocessing(line, token =wnl):
    line = line.lower()
    line = re.sub(r"[{}]".format(string.punctuation), " ", line)
    line = line.replace('\n\n', ' ').replace('\n', ' ')
    line = ' '.join([token.lemmatize(x) for x in line.split(' ')])
    return line

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [14]:
from sklearn.decomposition import PCA

def get_PCA(n_comp, data):
    centered = data - data.mean()
    pca = PCA(n_comp)
    return pca.fit_transform(centered)

##### embedings

In [15]:
from transformers import AutoTokenizer
from transformers import BertModel  # https://huggingface.co/docs/transformers/model_doc/bert#transformers.BertModel
from transformers import RobertaModel  # https://huggingface.co/docs/transformers/model_doc/roberta#transformers.RobertaModel
from transformers import DistilBertModel  # https://huggingface.co/docs/transformers/model_doc/distilbert#transformers.DistilBertModel
import torch.nn as nn
import torch

def get_model(model_name):
    assert model_name in ['bert', 'roberta', 'distilbert']

    checkpoint_names = {
        'bert': 'bert-base-cased',  # https://huggingface.co/bert-base-cased
        'roberta': 'roberta-base',  # https://huggingface.co/roberta-base
        'distilbert': 'distilbert-base-cased'  # https://huggingface.co/distilbert-base-cased
    }

    model_classes = {
        'bert': BertModel,
        'roberta': RobertaModel,
        'distilbert': DistilBertModel
    }

    return AutoTokenizer.from_pretrained(checkpoint_names[model_name]), model_classes[model_name].from_pretrained(checkpoint_names[model_name])

In [16]:
tokenizer, model = get_model('roberta')

/usr/local/lib/python3.11/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(
Some weights of RobertaModel were not initialized from the model checkpoint at roberta-base and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [17]:
# класс для трансформации датафрейма в датасет
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
from transformers import DataCollatorWithPadding

class DF_posts(Dataset):
    def __init__(self, texts, tokenizer):
        super().__init__()

        self.texts = tokenizer.batch_encode_plus(
            texts,
            add_special_tokens=True,
            return_token_type_ids=False,
            return_tensors='pt',
            truncation=True,
            padding=True
        )
        self.tokenizer = tokenizer

    def __getitem__(self, idx):
        return {'input_ids': self.texts['input_ids'][idx], 'attention_mask': self.texts['attention_mask'][idx]}

    def __len__(self):
        return len(self.texts['input_ids'])

In [18]:

dataset = DF_posts(df_post['text'].values.tolist(), tokenizer)

data_collator = DataCollatorWithPadding(tokenizer=tokenizer)

loader = DataLoader(dataset, batch_size=16, collate_fn=data_collator, pin_memory=True, shuffle=False)

In [19]:
from tqdm import tqdm
device = 'cuda'

@torch.inference_mode()
def get_embeddings_labels(model, loader):
    model.eval().to(device)

    total_embeddings = []

    for batch in tqdm(loader):
        batch = {key: batch[key].to(device) for key in ['attention_mask', 'input_ids']}

        embeddings = model(**batch)['last_hidden_state'][:, 0, :]

        total_embeddings.append(embeddings.cpu())

    return torch.cat(total_embeddings, dim=0)

In [20]:
tokenizer, model = get_model('roberta')

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-base and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [21]:
# model.config

In [22]:
embedings = get_embeddings_labels(model.to(device), loader)

100%|██████████| 439/439 [03:02<00:00,  2.40it/s]

In [23]:
df_embedings = pd.DataFrame(embedings)

In [24]:
pca_decomp = get_PCA(n_comp = 15, data=df_embedings)
df_emb_pca = pd.DataFrame(pca_decomp)

In [25]:
for i in range(15):
    df_emb_pca[i] = df_emb_pca[i].astype('float16')

In [26]:
df_emb_pca.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.007702,-0.700195,0.038879,-0.144531,0.014938,0.023178,0.060364,0.197754,-0.037781,0.219238,-0.048523,0.071411,0.151611,0.062927,-0.141479
1,-0.011230,-0.602539,-0.022339,-0.028992,0.076721,0.062347,-0.014877,0.032806,0.014381,0.041290,-0.001914,0.105713,0.008873,0.004230,-0.044739
2,0.141968,-0.500000,0.067261,-0.089111,-0.022293,0.000680,-0.050110,0.343506,0.068115,-0.071472,-0.005184,0.030273,0.083557,0.019440,0.001659
3,-0.067566,-0.487305,-0.070923,-0.138794,0.079102,0.090576,0.065857,0.330322,0.067932,0.054718,0.016830,0.084290,-0.054047,-0.125732,-0.022491
4,0.018158,-0.328857,0.073547,-0.040985,0.108215,0.051086,0.073669,0.209595,0.043488,0.034393,0.077637,0.010338,-0.154297,-0.108459,0.068604

#### TF_IDF

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    max_features=100,
    stop_words='english',
    preprocessor=preprocessing)

In [28]:
tfidf_data = (
    tfidf
    .fit_transform(df_post['text'])
    .toarray()
)

/usr/local/lib/python3.11/dist-packages/sklearn/feature_extraction/text.py:402: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'wa'] not in stop_words.
  warnings.warn(

In [29]:
pca_decomp = get_PCA(n_comp = 15, data=tfidf_data)
df_post_pca = pd.DataFrame(pca_decomp, columns=[i for i in range(15,30)])

In [30]:
df_post_pca.head()

,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,-0.142548,0.462627,-0.004076,0.011282,-0.089985,-0.030184,-0.282042,-0.102473,0.102445,-0.122232,-0.167026,-0.119872,-0.139240,0.074113,0.016790
1,-0.125712,0.406364,-0.018304,0.004453,-0.175898,0.078217,0.064959,0.014438,0.054467,-0.124843,-0.247460,0.078599,0.076631,-0.091170,-0.289476
2,-0.119520,0.303015,-0.027737,-0.000969,-0.082556,-0.049585,-0.155006,-0.032591,0.226529,0.075767,-0.008198,-0.244742,-0.064042,-0.191372,-0.245911
3,-0.119396,0.401051,-0.037433,0.005550,-0.103310,0.051396,-0.158941,0.022214,0.189672,0.034176,-0.012650,-0.305123,-0.142766,-0.135892,-0.212209
4,-0.087733,0.334496,-0.021211,0.005305,-0.197027,0.034342,-0.054379,0.005052,0.046864,0.053665,0.117880,-0.239215,-0.051487,-0.082085,0.044581

In [31]:
df_post_pca

,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,-0.142548,0.462627,-0.004076,0.011282,-0.089985,-0.030184,-0.282042,-0.102473,0.102445,-0.122232,-0.167026,-0.119872,-0.139240,0.074113,0.016790
1,-0.125712,0.406364,-0.018304,0.004453,-0.175898,0.078217,0.064959,0.014438,0.054467,-0.124843,-0.247460,0.078599,0.076631,-0.091170,-0.289476
2,-0.119520,0.303015,-0.027737,-0.000969,-0.082556,-0.049585,-0.155006,-0.032591,0.226529,0.075767,-0.008198,-0.244742,-0.064042,-0.191372,-0.245911
3,-0.119396,0.401051,-0.037433,0.005550,-0.103310,0.051396,-0.158941,0.022214,0.189672,0.034176,-0.012650,-0.305123,-0.142766,-0.135892,-0.212209
4,-0.087733,0.334496,-0.021211,0.005305,-0.197027,0.034342,-0.054379,0.005052,0.046864,0.053665,0.117880,-0.239215,-0.051487,-0.082085,0.044581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,-0.259315,-0.238944,-0.330088,0.008168,0.098535,0.062318,0.093985,-0.010996,0.128443,-0.020779,0.043772,0.018856,-0.086802,0.116467,-0.009527
7019,-0.256323,-0.346541,-0.237250,0.001813,-0.125427,0.109276,-0.074767,-0.017628,0.005454,-0.119634,0.025145,-0.005737,0.076877,-0.068424,0.047972
7020,-0.244456,-0.289181,0.480716,-0.008442,-0.052373,0.093198,0.074834,-0.018328,0.198519,-0.101269,0.042383,0.052979,-0.009633,-0.049418,0.013354
7021,-0.278949,-0.137483,0.254618,0.008018,0.441336,0.231373,-0.056266,0.050891,0.093360,0.014440,-0.091142,-0.056560,0.198237,-0.059314,-0.041364
7022,-0.234787,-0.234748,0.076279,-0.005041,-0.167786,-0.094372,-0.009503,-0.077002,-0.012497,0.158398,-0.126682,0.038658,0.199538,0.140427,-0.234793

In [32]:
for i in range(15,30):
    df_post_pca[i] = df_post_pca[i].astype('float16')

##### concat all

In [33]:
posts_emb_tf_emb = pd.concat([df_post['post_id'], df_emb_pca], axis=1)
posts_emb_tf_emb = pd.concat([posts_emb_tf_emb, df_post_pca], axis=1)
posts_emb_tf_emb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 31 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   0        7023 non-null   float16
 2   1        7023 non-null   float16
 3   2        7023 non-null   float16
 4   3        7023 non-null   float16
 5   4        7023 non-null   float16
 6   5        7023 non-null   float16
 7   6        7023 non-null   float16
 8   7        7023 non-null   float16
 9   8        7023 non-null   float16
 10  9        7023 non-null   float16
 11  10       7023 non-null   float16
 12  11       7023 non-null   float16
 13  12       7023 non-null   float16
 14  13       7023 non-null   float16
 15  14       7023 non-null   float16
 16  15       7023 non-null   float16
 17  16       7023 non-null   float16
 18  17       7023 non-null   float16
 19  18       7023 non-null   float16
 20  19       7023 non-null   float16
 21  20       7023 non-null   float16
 22  21       7023 non-null   float16
 23  22       7023 non-null   float16
 24  23       7023 non-null   float16
 25  24       7023 non-null   float16
 26  25       7023 non-null   float16
 27  26       7023 non-null   float16
 28  27       7023 non-null   float16
 29  28       7023 non-null   float16
 30  29       7023 non-null   float16
dtypes: float16(30), int64(1)
memory usage: 466.5 KB

In [47]:
# posts_emb_tf_emb.to_csv('embedings_roberta.csv')
posts_emb_tf_emb = pd.read_csv('embedings_roberta.csv')

In [34]:
data.columns

Index(['timestamp', 'user_id', 'post_id', 'action', 'target', 'gender', 'age',
       'country', 'city', 'exp_group', 'os', 'source', 'text', 'topic'],
      dtype='object')

In [35]:
data = pd.merge(data, posts_emb_tf_emb, on='post_id', how='left')

In [36]:
data.columns

Index(['timestamp',   'user_id',   'post_id',    'action',    'target',
          'gender',       'age',   'country',      'city', 'exp_group',
              'os',    'source',      'text',     'topic',           0,
                 1,           2,           3,           4,           5,
                 6,           7,           8,           9,          10,
                11,          12,          13,          14,          15,
                16,          17,          18,          19,          20,
                21,          22,          23,          24,          25,
                26,          27,          28,          29],
      dtype='object')

In [37]:
data = data.drop('text', axis=1)
data = data.drop('action', axis=1)
# data = data.drop('Unnamed: 0', axis=1)

In [38]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908961 entries, 0 to 7908960
Data columns (total 42 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   user_id    int32
 2   post_id    int16
 3   target     int8
 4   gender     int8
 5   age        int8
 6   country    object
 7   city       object
 8   exp_group  int8
 9   os         object
 10  source     object
 11  topic      object
 12  0          float16
 13  1          float16
 14  2          float16
 15  3          float16
 16  4          float16
 17  5          float16
 18  6          float16
 19  7          float16
 20  8          float16
 21  9          float16
 22  10         float16
 23  11         float16
 24  12         float16
 25  13         float16
 26  14         float16
 27  15         float16
 28  16         float16
 29  17         float16
 30  18         float16
 31  19         float16
 32  20         float16
 33  21         float16
 34  22         float16
 35  23         float16
 36  24         float16
 37  25         float16
 38  26         float16
 39  27         float16
 40  28         float16
 41  29         float16
dtypes: datetime64[ns](1), float16(30), int16(1), int32(1), int8(4), object(5)
memory usage: 2.9 GB

In [49]:
from sklearn.preprocessing import LabelEncoder
topic_dict = {
    'business': 0,
    'covid': 1,
    'entertainment': 2,
    'movie': 3,
    'politics': 4,
    'sport': 5,
    'tech': 6,
}
data['topic'] = data['topic'].map(topic_dict)
cat_col = ['country', 'city', 'os', 'source']
for col in cat_col:
    encoder = LabelEncoder()
    encoder.fit(data[col])
    data[col] = encoder.transform(data[col])

In [50]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908961 entries, 0 to 7908960
Data columns (total 42 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   user_id    int32
 2   post_id    int16
 3   target     int8
 4   gender     int8
 5   age        int8
 6   country    int64
 7   city       int64
 8   exp_group  int8
 9   os         int64
 10  source     int64
 11  topic      float64
 12  0          float16
 13  1          float16
 14  2          float16
 15  3          float16
 16  4          float16
 17  5          float16
 18  6          float16
 19  7          float16
 20  8          float16
 21  9          float16
 22  10         float16
 23  11         float16
 24  12         float16
 25  13         float16
 26  14         float16
 27  15         float16
 28  16         float16
 29  17         float16
 30  18         float16
 31  19         float16
 32  20         float16
 33  21         float16
 34  22         float16
 35  23         float16
 36  24         float16
 37  25         float16
 38  26         float16
 39  27         float16
 40  28         float16
 41  29         float16
dtypes: datetime64[ns](1), float16(30), float64(1), int16(1), int32(1), int64(4), int8(4)
memory usage: 890.0 MB

##### another

In [51]:
print(data.shape)
data.head(3)

(7908961, 42)

,timestamp,user_id,post_id,target,gender,age,country,city,exp_group,os,...,20,21,22,23,24,25,26,27,28,29
0,2021-12-29 23:51:06,134078,3927,0,1,38,7,1193,4,1,...,-0.072144,0.020233,-0.065247,-0.142944,-0.014175,-0.020050,-0.080933,0.040283,-0.046356,0.096558
1,2021-12-29 23:51:06,78189,5546,0,0,15,7,1106,2,0,...,-0.038696,0.058258,-0.006649,0.003113,0.002972,-0.043396,-0.076111,-0.065308,0.075134,0.014801
2,2021-12-29 23:51:06,168096,1295,0,0,49,7,3122,2,1,...,0.429199,0.403564,-0.002609,-0.264404,0.060425,0.015732,0.058960,-0.052795,-0.036469,0.053375

In [52]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908961 entries, 0 to 7908960
Data columns (total 42 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   user_id    int32
 2   post_id    int16
 3   target     int8
 4   gender     int8
 5   age        int8
 6   country    int64
 7   city       int64
 8   exp_group  int8
 9   os         int64
 10  source     int64
 11  topic      float64
 12  0          float16
 13  1          float16
 14  2          float16
 15  3          float16
 16  4          float16
 17  5          float16
 18  6          float16
 19  7          float16
 20  8          float16
 21  9          float16
 22  10         float16
 23  11         float16
 24  12         float16
 25  13         float16
 26  14         float16
 27  15         float16
 28  16         float16
 29  17         float16
 30  18         float16
 31  19         float16
 32  20         float16
 33  21         float16
 34  22         float16
 35  23         float16
 36  24         float16
 37  25         float16
 38  26         float16
 39  27         float16
 40  28         float16
 41  29         float16
dtypes: datetime64[ns](1), float16(30), float64(1), int16(1), int32(1), int64(4), int8(4)
memory usage: 890.0 MB

In [53]:
data.timestamp = pd.to_datetime(data['timestamp'])

In [54]:
def prepare_data(df):
    treshold = df.timestamp.quantile(0.8)
    df_train = df[df.timestamp < treshold]
    df_test = df[df.timestamp >= treshold]

    df_train = df_train.drop('timestamp', axis=1)
    df_test = df_test.drop('timestamp', axis=1)

    X_train = df_train.drop('target', axis=1)
    X_test = df_test.drop('target', axis=1)

    y_train = df_train['target']
    y_test = df_test['target']

    return X_train, y_train, X_test, y_test

In [55]:
X_train, y_train, X_test, y_test = prepare_data(data)

In [56]:
y_train.value_counts()

target
0    5454215
1     872930
Name: count, dtype: int64

### Model

In [57]:
model = CatBoostClassifier(iterations=600,
                           task_type="GPU",
                           devices='0')

model.fit(X_train, y_train, verbose=False)

### Model

In [58]:
from sklearn.metrics import roc_auc_score

print(f"Train ROC-AUC score: {roc_auc_score(y_train, model.predict_proba(X_train)[:, 1])}")
print(f"Test ROC-AUC score: {roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])}")

Train ROC-AUC score: 0.6523000151965698
Test ROC-AUC score: 0.651975965122874

In [65]:
model.save_model('model_3', format="cbm")

In [ ]:
model = CatBoostClassifier()
model.load_model("model_3")

In [59]:
to_hitrate = X_test
to_hitrate['target'] = y_test

In [60]:
to_hitrate

,user_id,post_id,gender,age,country,city,exp_group,os,source,topic,...,21,22,23,24,25,26,27,28,29,target
0,134078,3927,1,38,7,1193,4,1,1,NaN,...,0.020233,-0.065247,-0.142944,-0.014175,-0.020050,-0.080933,0.040283,-0.046356,0.096558,0
1,78189,5546,0,15,7,1106,2,0,0,NaN,...,0.058258,-0.006649,0.003113,0.002972,-0.043396,-0.076111,-0.065308,0.075134,0.014801,0
2,168096,1295,0,49,7,3122,2,1,1,NaN,...,0.403564,-0.002609,-0.264404,0.060425,0.015732,0.058960,-0.052795,-0.036469,0.053375,0
3,6545,2735,1,16,5,3072,4,1,0,NaN,...,-0.044312,0.773438,-0.029999,0.016830,0.135498,0.061096,0.035706,0.241821,-0.167847,0
4,50842,5720,1,17,7,1616,4,1,0,NaN,...,0.251465,-0.016922,0.122192,-0.000988,-0.082275,-0.001422,-0.106018,0.013321,0.085144,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581811,165679,5006,1,42,7,2111,1,0,1,NaN,...,0.041077,0.026199,-0.116150,-0.025177,-0.118652,-0.026657,-0.061707,-0.022308,-0.039185,0
1581812,96364,986,1,16,7,3442,0,0,0,NaN,...,0.457520,0.035065,-0.275635,0.154907,-0.060883,0.208008,-0.060303,-0.230591,-0.045410,0
1581813,152071,1867,1,22,7,1950,1,0,1,NaN,...,0.076111,-0.046387,-0.299561,-0.297607,0.007812,-0.041077,0.133301,0.024582,-0.283936,0
1581814,145267,3017,0,17,7,1445,4,0,1,NaN,...,0.050385,-0.064819,0.171631,-0.102051,-0.281738,0.182251,0.235107,0.019165,-0.080017,0
1581815,103452,6076,0,20,4,1528,3,0,0,NaN,...,0.080811,-0.002283,0.043121,0.139160,0.031708,-0.008324,-0.014420,0.000856,0.046631,0

In [62]:
def compute_hitrate_at_5(model, test, n=5):
    hitrate_scores = []

    # Предсказание вероятностей
    test['predicted_prob'] = model.predict_proba(test)[:, 1]
    # Для каждого пользователя
    for user_id in test['user_id'].unique():
        user_posts = test[test['user_id'] == user_id]  # все посты пользователя
        top_posts = user_posts.nlargest(n, 'predicted_prob')  # 5 постов с наибольшими вероятностями

        # Проверка, есть ли среди них хотя бы один пост с лайком
        hitrate_scores.append(int(any(top_posts['target'] == 1)))

    return np.mean(hitrate_scores)

In [63]:
compute_hitrate_at_5(model, to_hitrate)

0.6476501937984496

In [64]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908961 entries, 0 to 7908960
Data columns (total 42 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   user_id    int32
 2   post_id    int16
 3   target     int8
 4   gender     int8
 5   age        int8
 6   country    int64
 7   city       int64
 8   exp_group  int8
 9   os         int64
 10  source     int64
 11  topic      float64
 12  0          float16
 13  1          float16
 14  2          float16
 15  3          float16
 16  4          float16
 17  5          float16
 18  6          float16
 19  7          float16
 20  8          float16
 21  9          float16
 22  10         float16
 23  11         float16
 24  12         float16
 25  13         float16
 26  14         float16
 27  15         float16
 28  16         float16
 29  17         float16
 30  18         float16
 31  19         float16
 32  20         float16
 33  21         float16
 34  22         float16
 35  23         float16
 36  24         float16
 37  25         float16
 38  26         float16
 39  27         float16
 40  28         float16
 41  29         float16
dtypes: datetime64[ns](1), float16(30), float64(1), int16(1), int32(1), int64(4), int8(4)
memory usage: 890.0 MB

### to server

In [ ]:
to_server = df_user.copy()
to_server.user_id = to_server.user_id.astype('int32')
to_server.gender = to_server.gender.astype('int8')
to_server.age = to_server.age.astype('int8')
to_server.exp_group = to_server.exp_group.astype('int8')

cat_col = ['country', 'city', 'os', 'source']
for col in cat_col:
    encoder = LabelEncoder()
    encoder.fit(to_server[col])
    to_server[col] = encoder.transform(to_server[col])

In [ ]:
to_server.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    163205 non-null  int32
 1   gender     163205 non-null  int8
 2   age        163205 non-null  int8
 3   country    163205 non-null  int64
 4   city       163205 non-null  int64
 5   exp_group  163205 non-null  int8
 6   os         163205 non-null  int64
 7   source     163205 non-null  int64
dtypes: int32(1), int64(4), int8(3)
memory usage: 6.1 MB

In [66]:
posts_emb_tf_emb.to_sql(
   "evgeneey89_robemb_features_lesson_22",
    con=engine,
   #  schema="public",
    if_exists='replace'
   )

23

In [ ]:
posts_and_embeding.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int32
 1   0        7023 non-null   float16
 2   1        7023 non-null   float16
 3   2        7023 non-null   float16
 4   3        7023 non-null   float16
 5   4        7023 non-null   float16
 6   5        7023 non-null   float16
 7   6        7023 non-null   float16
 8   7        7023 non-null   float16
 9   8        7023 non-null   float16
 10  9        7023 non-null   float16
 11  10       7023 non-null   float16
 12  11       7023 non-null   float16
 13  12       7023 non-null   float16
 14  13       7023 non-null   float16
 15  14       7023 non-null   float16
 16  15       7023 non-null   float32
 17  16       7023 non-null   float32
 18  17       7023 non-null   float32
 19  18       7023 non-null   float32
 20  19       7023 non-null   float32
dtypes: float16(15), float32(5), int32(1)
memory usage: 370.5 KB

In [ ]:
print(to_server.shape, df_user.shape)
to_server.info(memory_usage='deep')

(163205, 8) (163205, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    163205 non-null  int32
 1   gender     163205 non-null  int8
 2   age        163205 non-null  int8
 3   country    163205 non-null  int64
 4   city       163205 non-null  int64
 5   exp_group  163205 non-null  int8
 6   os         163205 non-null  int64
 7   source     163205 non-null  int64
dtypes: int32(1), int64(4), int8(3)
memory usage: 6.1 MB